
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
.hcontainer{
    width: 100vw;
    height: 10vh;
    background-color:white;
    color: black;
    display: flex;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.hlogopart{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hcenterpart{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hendpart{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.smallicon{
    width: 15px;
    height: 15px;
}
.bigicon{
    width: 25px;
    height: 25px;
}
.logosize{
    width: 35px;
    height: 35px;
}
.logotext{
    font-size: 25px;
    font-family: 'Afacad Flux', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: rgb(253, 64, 64);
}
.hsmallspace{
    margin-left: 2%;
}
.hspace{
    margin-left: 5%;
}
.bspace{
    margin-left: 15%;
}
.hbox{
    width: 28%;
    height: 70%;
    border-radius: 30px;
    border: 0.5px solid grey;
    display: flex;
    align-items: center;
}
.hbox:hover{
    box-shadow: 0px 1.5px 5px rgba(37, 46, 37, 0.3);
    cursor: pointer;
}
.bigtext{
    font-size: 17px;
}
.hdropdown-content {
    position: absolute;
    top: 100%;
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 10px;
    z-index: 1;
    width: 80%;
    height: 300%;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.hsuggestion {
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
}
.hsuggestion:hover{
    background-color: rgb(243, 239, 239);
}
.hbtn{
    background: none;
}
.hmenubtn{
    border: none;
    background-color: transparent;
    display: block;
    max-height: 45px;
}
.hmenubtn:hover{
    background-color: rgb(243, 239, 239);
    cursor: pointer;
}
.textbold{
    font-weight: bold;
}
