.signup-container{
    width: 40vw;
    height: 80vh;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
}
.signup-layout{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}
.signup-header{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid grey;
}
.signup-welcome{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
}
.signup-data{
    width: 100%;
    height: 15%;
    /* background-color: blueviolet; */
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid black;
    border-radius: 10px;
}
.signup-data-part1{
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
}
.signup-data-part2{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
.signup-submitdata{
    width: 100%;
    height: 8%;
    background-color: rgb(201, 29, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-size: 17px;
}
.signup-submitdata:hover{
    cursor: pointer;
}
.signup-options{
    width: 100%;
    height: 9%;
    display: flex;
    border: 0.5px solid black;
    border-radius: 7px;
}
.signup-options:hover{
    cursor: pointer;
}
.signup-options-data{
    width: 88%;
    height: 100%;
    margin: auto;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-img-container{
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin-top{
    margin-top: 3%;
}
.margin-left{
    margin-left: 3%;
}
.low-opacity{
    opacity: 0.77;
}
.popup-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; 
    background-color: none; 
    padding: 15px;
    overflow-y: auto;
    scrollbar-width: none;
}
.signup-input-data{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 3%;
}
.signup-btn{
    background-color: none;
}
